{% extends "website/base.html" %}

{% block extra_js %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function(){
            $(".side-bar").find(".equipe").addClass("active");
        });
    </script>
{% endblock %}

<!-- Breadcrumber -->
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url core:sobre %}">Home</a> <span class="divider">/</span></li>
        <li class="active">Equipe</li>
        <li class="pull-right">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">
                    <i class="icon-arrow-left"></i>
                    Anterior
                </a> -
            {% endif %}
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
                - <a href="?page={{ page_obj.next_page_number }}">
                Próxima
                <i class="icon-arrow-right"></i>
            </a>
            {% endif %}
        </li>
    </ul>
{% endblock %}

<!-- Título -->
{% block content %}

    <div class="page-header">
        <h1>Equipe</h1>
    </div>

    {% if page_obj.object_list %}
        {% for item in page_obj.object_list %}
            <div class="row">
                <div class="span2">
                    <div class="thumbnail" style="background: #f7f7f7">
                        <img src="{{ item.foto.url }}" alt="{{ item.nome }}" title="{{ item.nome }}" width="170" height="170" />
                    </div>
                </div>

                <h3 class="span7">{{ item.nome }}</h3>
                <p class="span7">{{ item.resumo|linebreaksbr }}</p>
                <p class="span7">{% if item.email %}Email: <a href="mailto:{{ item.email }}" target="_blank">{{ item.email }}</a><br />{% endif %}
                {% if item.site %}Site: <a href="{{ item.site }}" target="_blank">{{ item.site }}</a>{% endif %}</p>
            </div><br />
        {% endfor %}
    {% endif %}

{% endblock %}