<ul class="nav nav-list">
    <li class="nav-header">Navegação</li>
    <li class="divider"></li>
    <li class="como-apoiar"><a href="{% url core:como-apoiar %}">Como apoiar o IFIC</a></li>
    <li class="seja-um-doador"><a href="{% url core:seja-um-doador %}">Seja um doador de órgãos</a></li>
    <li class="galeria"><a href="{% url core:galeria %}">Galeria</a></li>
    <li class="equipe"><a href="{% url core:equipe %}">Equipe</a></li>
    <li class="noticias"><a href="{% url core:noticias %}">Notícias</a></li>
    <li class="fale-conosco"><a href="{% url core:fale-conosco %}">Fale conosco</a></li>
    <li class="publicacao-cientifica"><a href="{% url core:publicacao-cientifica %}">Publicações Científicas</a></li>
</ul>